.footer-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  row-gap: 24px;
justify-content: center;
  justify-content: space-around;
  margin: 16px
}

.credits {
    text-align: center;
}

.resume-button {
  display: inline-block;
  padding: 20px 24px;
  margin-top: 10px;
  background-color: #7416d9;
  color: white;
  text-decoration: none;
  border-radius: 16px;
  transition: background-color 0.3s;
  font-size: 20px;
}

.resume-button:hover {
  background-color: #6a3ea1;
}

.social-link {
  margin: 0 10px;
  color: #7416d9;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s;
}

.social-link:hover {
  color: #6a3ea1;
}
